body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}
header
{
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

#board
{
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.card
{
	background-image: url("img/karta.png");
	width: 125px;
	height: 125px;
	border: 5px solid  #E9B64A;
	border-radius: 5px;
	display: inline-block;
	filter: brightness(75%);
	margin: 5px;
	
	
}
.card:hover
{
	transition: all .2s ease-in-out;
	filter: brightness(100%);
	cursor: pointer;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

select
{
	background-color: #26282E;
	font-family: 'Lobster', sans-serif;
	color: #209781;
	font-size: 28px;
	border-style:none ;
	-webkit-appearance: none;
	width: 40px;
	text-align: center;
}
select:hover
{
	border-radius: 5px;
	cursor: pointer;
	border-style:none ;
	transition: all .2s ease-in-out;
	box-shadow: inset 0 0 2px 2px #E9B64A, 0 0 5px 5px #E9B64A;
}

#wczytajGre{
	background-color: #26282E;
	font-family: 'Lobster', sans-serif;
	color: #209781;
	font-size: 28px;
	box-shadow: none;
	border-style: none;
	border-radius: 5px;
}
#wczytajGre:hover
{
	cursor: pointer;
	transition: all .2s ease-in-out;
	box-shadow: inset 0 0 1em #E9B64A, 0 0 10px 10px #E9B64A;

}




